<ion-header>
  <ion-toolbar>
    <!-- <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons> -->

    <ion-title>
      <div class="chat-header">
        <ion-avatar>
          <img [src]="header.image" alt="Therapist avatar" (click)="openImageViewer()">
        </ion-avatar>
        <div class="user-info">
          <div>{{header.title}}</div>
          <div class="online-status">{{header.description}}</div>
        </div>
      </div>
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="newSession()" title="New session">
        <ion-icon name="sync-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="openConfig()" title="Open preferences">
        <!-- <ion-label>Preferences</ion-label> -->
        <ion-icon name="color-filter-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="chat-container">
    <div class="messages-container" #messagesContainer>
      <div *ngFor="let message of chatRoom?.messages"
        [class]="'message ' + (message.sender === 'user' ? 'sent' : 'received')">
        <div class="message-bubble" [innerHTML]="message.content! | markdown | async"></div>
        <div class="message-meta">{{message.getFormattedTimestamp()}}</div>
      </div>
    </div>

    <!-- Typing indicator -->
    <div class="typing-indicator" *ngIf="isTyping">
      <div class="dots">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
    </div>

    <!-- Chat input area -->
    <div class="chat-input-container">
      <div class="input-wrapper">
        <ion-textarea [(ngModel)]="newMessage" placeholder="Share what's on your mind..." class="message-input"
          auto-grow="true" rows="1" (keydown)="onKeyDown($event)" [disabled]="isTyping">
        </ion-textarea>
        <ion-button class="send-button" (click)="sendMessage()" [disabled]="isTyping">
          <ion-icon name="send-outline"></ion-icon>
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>