<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Your preferences</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <form (ngSubmit)="onSubmit()">
    <ion-list>
      <ion-radio-group [(ngModel)]="selectedTherapist" name="therapist">
        <ion-list-header>
          <ion-label>Choose your therapist</ion-label>
        </ion-list-header>

        <div class="therapist-grid">
          <ion-item *ngFor="let therapist of therapists" class="therapist-item">
            <ion-radio [value]="therapist.id">
              <div class="therapist-card">
                <ion-img [src]="therapist.image" [alt]="therapist.name" />
                <ion-label>{{therapist.name}}</ion-label>
              </div>
            </ion-radio>
          </ion-item>
        </div>
      </ion-radio-group>

      <ion-item>
        <ion-label position="stacked">Your name (or nickname)</ion-label>
        <ion-input [(ngModel)]="userName" name="description" placeholder="How would you like to be called?"></ion-input>
      </ion-item>

      <!-- <ion-item>
        <ion-label position="stacked">Describe yourself</ion-label>
        <ion-textarea [(ngModel)]="userDescription" name="description" placeholder="Tell us about yourself..."
          [rows]="4"></ion-textarea>
      </ion-item> -->

      <ion-item>
        <ion-label position="stacked">Your context</ion-label>
        <ion-textarea [(ngModel)]="userContext" name="talkAbout" placeholder="Help me understand you better..."
          [rows]="4"></ion-textarea>
      </ion-item>
    </ion-list>

    <div class="ion-padding">
      <ion-button expand="block" type="submit">Confirm</ion-button>
    </div>
  </form>
</ion-content>